/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
	background-color: #e4f1f6;
}

/* Style rule for img selector */
img selector {
  width: 100%;
  display:block;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
    padding: 3%;
    color: #092834;
    margin-top: 5%;
}

/* Style Rules for mobile viewport. */
img style{

}


/* Style rule to hide tablet-desk class,*/
tablet-desk class{
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
/* Style rules for nav */
nav {
	padding: 1%;
    margin-bottom: 1%;
    background-color: #67afcb;
}

nav ul {
    text-align: center;
    bullet: remove;
}

nav li {
    font-size: 1.5em;
    padding: 4%;
    display: inline-block;

}

nav li a {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-style: normal;
    display: block;
    color: #092834;
    text-decoration: none;
}

/* Style rules for main content  */
main {
  font-family: "Crimson Text", serif;
 font-weight: 400;
 font-style: normal;
	display: block;
	margin: 1% 1% 15%;
	padding: 1%;
    font-size: 1.5em;
}

/* Style rule for the corner class */
Corner class{
  border:12px;
}

#image {
    margin-bottom: 1%;
}

/* Style rule for footer */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}
